@page
@model PrivacyModel
@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        /* Adicione estilos CSS conforme necessário */
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            
            text-align: center;
        }

        /* Adicione estilos para o cabeçalho, se necessário */
        header {
            
            color: #fff;
            padding: 1em;
        }

        /* Adicione estilos para o corpo do texto, se necessário */
        .content {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        /* Adicione estilos para o rodapé, se necessário */
        footer {
            padding: 1em;
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>


    <div class="content">
        <p>Na Pizzaria Veneza, valorizamos a sua privacidade e estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Esta Política de Privacidade descreve como coletamos, usamos, compartilhamos e protegemos suas informações quando você utiliza nossos serviços.</p>

        <h2>Informações Coletadas</h2>
        <p>Coletamos informações que você nos fornece ao fazer um pedido, cadastrar-se em nosso site, participar de promoções ou interagir conosco de outras formas. Isso pode incluir seu nome, endereço, número de telefone, endereço de e-mail e informações de pagamento.</p>

        <h2>Como Usamos Suas Informações</h2>
        <p>Utilizamos suas informações para processar pedidos, personalizar sua experiência, fornecer suporte ao cliente, enviar atualizações sobre pedidos e promoções, e melhorar continuamente nossos serviços.</p>

        <h2>Compartilhamento de Informações</h2>
        <p>Nós não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer nossos serviços (por exemplo, com serviços de entrega) ou quando exigido por lei.</p>

        <h2>Segurança</h2>
        <p>Implementamos medidas de segurança para proteger suas informações pessoais. No entanto, lembre-se de que nenhum método de transmissão pela internet ou armazenamento eletrônico é 100% seguro.</p>
    </div>

    <footer>
        <p>Última atualização: [Data]</p>
        <p>Para mais informações, entre em contato conosco: [E-mail de Contato]</p>
    </footer>

</body>
</html>

