@page
@model PizzaAppWeb.Pages.QuemSomosModel
@{
}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Veneza - O Sabor Autêntico da Itália</title>
    <style>
        /* Adicione estilos CSS conforme necessário */
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #333;
            text-align: center;
        }

        /* Adicione estilos para o cabeçalho, se necessário */
        header {
            
            color: #333;
            padding: 1em;
        }

        /* Adicione estilos para o corpo do texto, se necessário */
        .content {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        /* Adicione estilos para o rodapé, se necessário */
        footer {
            padding: 1em;
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>

    <header>
        <h1>Bem-vindo à Pizzaria Veneza</h1>
    </header>

    <img src="/images/pizza1.jpg">

    <div class="content">
        <p>Descubra o autêntico sabor da Itália na Pizzaria Veneza. Nossas pizzas são feitas com paixão, ingredientes frescos e tradição italiana. Cada pedaço é uma viagem direta aos sabores das autênticas pizzarias de Veneza.</p>

        <h2>Nosso Cardápio</h2>
        <p>Explore uma variedade de pizzas que vão desde as clássicas Margheritas até criações exclusivas da casa. Cada receita é cuidadosamente elaborada para proporcionar uma experiência gastronômica única.</p>

        <h2>Serviço de Entrega</h2>
        <p>Não quer sair de casa? Sem problemas! Faça seu pedido online e entregaremos a delícia diretamente à sua porta. Rápido, fácil e conveniente.</p>

        <h2>Eventos Especiais</h2>
        <p>Torne seus momentos especiais ainda mais memoráveis com as pizzas da Pizzaria Veneza. Estamos disponíveis para eventos corporativos, festas de aniversário e outras celebrações.</p>

        <h2>Visite-nos</h2>
        <p>Estamos ansiosos para recebê-lo em nossa pizzaria. Venha desfrutar do ambiente acolhedor e da culinária italiana autêntica.</p>
    </div>

    <footer>
        <p>© 2023 Pizzaria Veneza. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
